* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
i {
  outline: none;
  text-decoration: none;
}
body {
  background: #f7f7f7;
}
a {
  outline: none;
  text-decoration: none;
  color: black;
}
button {
  outline: none;
}
input {
  outline: none;
}
