* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
i {
  outline: none;
  text-decoration: none;
}
body {
  background: #f7f7f7;
}
a {
  outline: none;
  text-decoration: none;
  color: black;
}
button {
  outline: none;
}
input {
  outline: none;
}
.frame {
  justify-content: center;
  display: flex;
}
.frame-width {
  width: 1200px;
}
textarea {
  resize: none;
  padding: 0;
  outline: none;
}
.hover-shadow:hover {
  box-shadow: 1px 4px 12px 4px #d6d6d6;
}
/* .hover-shadow:hover .user{
  box-shadow : 1px 4px 12px 4px #95f1a2;
} */
.hover-scale:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: all 1.6s;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
span {
  margin: 0;
  padding: 0;
}
