.card-text{
  margin : 0;
}
.school-name{
  color : rgb(68, 68, 68);
}
.school-logo{
  max-width: 44px;
  max-height: 44px;
  overflow: hidden;
  object-fit: contain;
}
.school-img{
  width : 200px;
  height : 200px;
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  object-fit: cover;
}
.school-badge{
  margin-right : 6px;
  width: 40px;
  height : 40px;
  font-size: 16px !important;
}