.post-wrapper-edit {
    width: 100% !important;
    display: block !important;
    margin-top: 10px !important;
    margin-bottom: 25px !important;
    line-height: normal !important;
  }
  
  .post-wrapper-read {
    width: 100% !important;
    display: block !important;
    line-height: normal !important;
  }
  
  .post-editor {
    height: auto !important;
    min-height: 70px;
  }
  
  .post-editor a{
    color: blue;
  }
  
  .post-toolbar {
    padding: 0px !important;
    border: none !important;
    display: flex;
    justify-content: flex-start;
    background: white;
    flex-wrap: wrap;
    font-size: 15px;
    margin-left: -3px;
    user-select: none;
  }
  
  .post-toolbar a {
    color: black;
  }
  
  .post-dropdown {
    float: right;
  }
  
  .post-avatar {
    width: 80px;
    max-width: none !important; /*overrides semantic-ui-react max-width of 100% */
    height: 80px;
    border-radius: 6px;
    margin-left: -5px;
    margin-right: 12px;
  }
  
  .post-row {
    display: flex;
    flex-direction: row;
  }
  
  .post-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .post-name {
    font-weight: bold;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .post-name-banned {
    font-weight: bold;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(0, 0, 0) !important;
    text-decoration: line-through;
  }
  
  .user-banned{
    font-weight:initial;
    font-size: 13px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(0, 0, 0) !important;
    text-align: center;
  }
  
  .post-username a{
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
    color: gray !important;
  }

  .post-username-banned a{
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(0, 0, 0) !important;
    text-decoration: line-through;
  }
  
  .post-status {
    font-weight: normal;
    font-size: 14px;
    color: purple;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .post-time {
    color: gray !important;
    font-size: 14px;
  }

  
  .staff{
    font-size: 14px; 
    font-weight: bold;
    color: red;
  }

  
  .threadContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  
  .threadContainer a:-webkit-any-link {
    cursor: pointer;
    color: black;
    font-weight: bold;
  }
  
  .thread-list {
    width: 100% !important;
  }
  
  .thread-error {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    color: rgba(231, 76, 60,1.0);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
  
  .thread-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .data{
      font-size: 16px;
  }

  .data img{
    max-width: 700px;
    height: auto;
  }

  blockquote{
    font-size: 20px;
    margin:15px auto;
    padding-left: 20px;
    font-family:Open Sans;
    font-style:italic;
    color: #555555;
    border-left:8px solid #ff9901 ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
  }
  