.hidden {
  display: none;
}
.up-page {
  z-index: 999;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: calc(100% - 76px);
  right: 0;
  margin-right: 32px;
  width: 44px;
  height: 44px;
  border-radius: 24%;
  border: 1px solid #7878da;
}
.up-page:hover {
  background-color: #7878da;
}
.up-page:hover i {
  color: white !important;
}
.cover-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #00000080;
}
.review-name {
  color: rgb(73, 73, 73);
  font-weight: 700;
  font-size: 16px;
}
.review-title {
  font-size: 22px;
}
.date-content {
  font-size: 14px;
  font-weight: normal;
}
.review-content {
  display: -webkit-box;
  color: #383838;
  font-size: 16px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.review-detail-content {
  margin-bottom: 20px !important;
  display: -webkit-box;
  margin-left: 12px;
  color: #686868;
  font-size: 17px;
}
.review-name-school {
  color: black;
  font-weight: 500;
  color: black;
  font-size: 24px;
}
.icon-user {
  background-color: transparent;
  width: 32px;
  height: 32px;
  color: rgb(99, 99, 99);
  border: 1px solid rgb(99, 99, 99);
  font-size: 16px;
  border-radius: 50%;
  margin-right: 4px;
}
.edit-review {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  min-width: 36px;
  width: auto;
  height: 36px;
}
.editor {
  padding: 20px;
  top: 40px;
  background: white;
  position: absolute;
  z-index: 1000;
  width: 50%;
  border: 1px solid #333;
  border: none;
  border-radius: 4px;
}
.edit-content {
  font-size: 14px;
  width: 100%;
}
.small-title {
  font-size: 20px;
  color: rgb(131, 131, 131);
}
.big-title {
  font-size: 28px;
  color: rgb(100, 94, 94);
  font-weight: bold;
}
/* design review */
.user {
  display: flex;
  min-height: 172px;
  border-bottom: 1px solid #dbdee0;
  border-top: 1px solid #dbdee0;
}
.btn-stack {
  margin-right: 20px;
  display: flex;
  height: 48px;
  width: 76px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-stack-a {
  background-color: #fff;
  color: #799fc1;
  border: none;
  border-radius: 4px;
}
.btn-stack-b {
  background-color: #5eba7d;
  color: white;
  border: none;
  border-radius: 4px;
}
.tx-a {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
.tx-b {
  font-size: 14px;
}
